<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="login">
    <h1> Crop Prediction Model</h1>
    <form action = "{{ url_for('predict')}}" method = "post">
        <input type="number" step="any" name="Nitrogen" placeholder="Nitrogen" required>
<input type="number" step="any" name="Phosphorus" placeholder="Phosphorus" required>
<input type="number" step="any" name="Potassium" placeholder="Potassium" required>
<input type="number" step="any" name="Temperature" placeholder="Temperature" required>
<input type="number" step="any" name="Humidity" placeholder="Humidity" required>
<input type="number" step="any" name="PH" placeholder="PH" required>
<input type="number" step="any" name="Rainfall" placeholder="Rainfall" required>


        <button type = "submit" class = "btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <h1 id ="pred1">
    {{ prediction_text}}
    </h1>
</div>
</body>
</html>